@import url('../css/colors.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--text-gray);
}

.container{
    max-width: 1200px;
    margin: auto;
}

/* HEADER TOP */
.header_container{
    padding: 20px;
    background-color: var(--blue-mikasa);
}

.img_container{
    width: 150px;
}
.img_container>img{
    width: 100%;
}

.section_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.perfil_container{
    display: flex;
    align-items: center;
    gap: 10px;
}

#user_name{
    color: var(--text-white) ;
}

.foto_perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.foto_perfil>img{
    width: 100%;
}

.menu_toggle{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

}
.menu_toggle>i{
    font-weight: bold;
    color: var(--text-white);
    margin-top: -5px;

}

.dropdow_menu{
    position: absolute;
    z-index: 1;
    display: none;
    flex-direction: column;
    background-color: #fff;
    width: 150px;
    bottom: -100px;
    right: 0px;
    border: 1px solid black;
}

.dropdow_menu>span{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdow_menu>span:hover{
    background-color: #f2f2f2;
}

/* NAVIGATION */
.nav_section{
    background-color: #ffffff;
}

.nav_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item_menu{
    padding: 20px 0px;
    cursor: pointer;
}

.menu_active{
    border-bottom: 5px solid var(--yellow-mikasa);
}

.nav_menu{
    display: flex;
    gap: 30px;
}

.pesquisa_container{
    position: relative;
}

.pesquisa_container>i{
    position: absolute;
    top: 30%;
    right: 10px;
}

.pesquisa_container>input{
    padding: 10px 40px 10px 10px;
}

/* BACKGROUND DEFAULT */

main{
    background: url(../assets/img/background_volei.jpg)center center/cover;
    background-color: rgba(1, 1, 1, 0.5);
    background-blend-mode: color;
    height: 100%;
}