.forum_grid{
    padding: 50px 10px;
    display: flex;
    max-width: 100%;
    gap: 20px;
}

#feed{
    display: flex;
    flex-direction: column;
}

#grid1{
    background-color: #fff;
    overflow: hidden;
    width: 70%;
}

.right_cards{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#grid2{
    width: 100%;
    height: 300px;
    background-color: #fff;
}

#grid3{
    width: 100%;
    height: 300px;
    background-color: #fff;
}

.header_posts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.btn_add_post{
    padding: 20px 30px;
    border: none;
    background-color: var(--blue-mikasa);
    cursor: pointer;
}

.btn_add_post,.btn_add_post>i{
    font-size: 16px;
    font-weight: bold;
    color: var(--text-white);
}

.filter_content{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

