@import url('../css/colors.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--text-gray);
}

html{
    scroll-behavior: smooth;
}

body{
    /* overflow-y: hidden; */
    overflow-x: hidden;

}

.scroll_mandatory{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
}

.scroll_content{
    
    scroll-snap-align: start;
}


/* HEADER DO SITE */

.img_container_logo{
    width: 150px;
}
.img_container_logo>img{
    width: 100%;
}

.navigation{
    display: flex;
    gap: 52px;
    list-style: none;
}

.navigation>li>a{
    text-decoration: none;
}

.navigation>li{
    cursor: pointer;
}

.btn_header{
    background-color: var(--blue-mikasa);
    color: var(--text-white);
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 20px;
    font-weight: bold;
}

/* BANNER SITE */
.banner_mikasa{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}
.banner_mikasa::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: var(--yellow-mikasa);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* background: linear-gradient(to bottom, #fff, transparent); */
}

.mikasa_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.mikasa_container>h2{
    font-size: 100px;
}

.mikasa_container>img{
    width: 300px;
    height: 300px;
    transform: rotate(0deg);
    transition: transform 1s ease;
}

.mikasa_container>img:hover{
    transform: rotate(360deg);
}


.mikasa_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

.mikasa_footer>p{
    font-size: 20px;
}

.mikasa_footer .btn_banner{
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: var(--blue-mikasa);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    animation: btn_mov 2000ms infinite ease-in-out;

}

.mikasa_footer .btn_banner>i{
    font-size: 20px;
    color: var(--text-white);
}

@keyframes btn_mov {
    0%{
        transform: translateY(0px);
    }50%{
        transform: translateY(20px);
    }100%{
        transform: translateY(0px);

    }
}

/* HISTORY CONTAINER */
.history_container{
    height: 100vh;
    display: flex;
    position: relative;
}

.btn_carrossel{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    top: 0;
    
}

#next_btn{
    right: 10px;
}

#prev_btn{
    left: 10px;
}

.btn_carrossel>i{
    padding: 10px;
    background-color: var(--blue-mikasa);
    color: #fff;
    font-size: 20px;
    opacity: 0.8;
    cursor: pointer;
}

.btn_carrossel>i:hover{
    opacity: 1;
}

.history_container>.history_left_container{
    width: 50%;
    height: 100%;
    background: url("../assets/img/Jogo-de-volei-feminino.webp")center no-repeat;
    background-size: cover;
}

.text_content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.text_content>h4{
    font-size: 20px;
    color: var(--blue-mikasa);
}

.text_content>h1{
    font-size: 60px;
}

/* CSS PARA OS ELEMETNOS QUE MUDAM NA DESCRICAO DO CARROSSEL */


.text_content>p{
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    margin-top: 20px;
    width: 90%;

}

/* .medal_ouro>i{
    color: #ffbc3f;
}
.medal_prata>i{
    color: #b1b1b1;
}

.medal_ouro>i,.medal_prata>i{
    font-size: 40px;
}

.medal_ouro,.medal_prata{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.medal_ouro:hover,.medal_prata:hover{
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px #00000063;
    ;
}

.medal_container{
    display: flex;
    padding: 10px;
    gap: 10px;
} */


/* CHARACTERISTICS */
.characteristics_container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.characteristics_header{
    padding: 30px;
    display: flex;
    justify-content: center;
    background-color: var(--blue-mikasa);
    border-bottom: solid 10px var(--yellow-mikasa);
}

.characteristics_header>h1{
    letter-spacing: 30px;
    font-size: 30px;
    padding-left: 20px;
    color: var(--text-white);
    border-left: solid 15px var(--yellow-mikasa);
}

.characteristics_flex{
    display: flex;
    height: 100%;
    overflow: hidden;
}

.characteristics_flex>.img_flex{
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    transition: background-size 0.5s ease;
    
}

.characteristics_flex>.img_flex:hover{
    background-size: auto 110%;
}

.gradient{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    background: linear-gradient(to top,#000, transparent);
    background-blend-mode: color;
}



.gradient>p{
    color: var(--text-white);
    font-weight: bold;
    font-size: 30px;
    width: 250px;
    text-align: center;
    padding-bottom: 60px;
}

.flex1{
    background: url('../assets/img/equipe-volei.jpg');
}

.flex2{
    background: url('../assets/img/darlan-concentracao.webp');
}

.flex3{
    background: url('../assets/img/volei-abraco.webp');
}

/* ABOUT */
.about_container{
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}

.about_container>.about_right_container{
    width: 50%;
    height: 100%;
    background: url("../assets/img/eu_volei.jpeg")center no-repeat;
    background-size: cover;
}

/* COMUNIDADE */

.community_container{
    display: flex;
    flex-direction: column;
    height: 100vh;
   position: relative;
   
}

.community_content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    position: relative;
    gap: 30px;
}

.community_container::before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--yellow-mikasa);
}

.community_content::after{
    content: "";
    position: absolute;
    z-index: 1;
    top: -10%;
    right: -5%;
    width: 300px;
    height: 300px;
    background: url("../assets/img/mikasa-png.png");
    background-size: contain;
}

.community_content::before{
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -10%;
    left: -5%;
    width: 300px;
    height: 300px;
    background: url("../assets/img/mikasa-png.png");
    background-size: contain;
}



.community_content>h1{
    letter-spacing: 20px;
    font-size: 40px;
    text-align: center;
    width: 60%;
}

.community_content>p{
    width: 60%;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}

.btn_community{
    border: none;
    font-weight: bold;
    background-color: var(--blue-mikasa);
    color: var(--text-white);
    padding: 20px 50px;
    font-size: 18px;
    cursor: pointer;
}

.galery_container{
    display: flex;
    height: 80%;
}


.galery_doble{
    display: flex;
    flex-wrap: wrap;
}

.galery_doble>img{
    height: 50%;
}
